* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h2 {
    color: green; 
    font-size: 2em;
}



body{
    background-color: rgb(255,400,200);
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: 25px; 
    padding: 25px; 
    border: 1px solid rgb(23, 230, 58);
    
}

#minha-foto{
    border:solid 2px;
    border: radius 70px;
    height: 200px;
    width:200px;
    border-color: yellow;  

    
}


#sobre-mim {
    background-color: gray;
  
line-height: 55px;
font-weight: 600;
letter-spacing: -1px;
border-bottom: 5px solid yellow;
margin: 25px; 
    padding: 25px; 
    border: 1px solid rgb(153, 172, 50);
}


.titulo3{
    color:green;
    text-align: center;
    text-decoration: underline;
    border-radius: 0%;


}

.list-style {
    background-color: gray;
    color:black;
    font-weight: bold;
    font-style: italic;
    line-height: 40px;
    text-align: center;   
    display: inline-block;

}
li:hover{
   text-align: left; 
   background-color: yellow;

}
li:active{
    color:black; 
}


.link-foto{
    color:green;
    font-weight: bold;
    font-style: italic;
    line-height: 40px;
    text-align: center;
    
    

}

.list-div{
    width: 100%;
    background-color: gray;
    overflow-y: auto;
    overflow-x: hidden; 
    height: 300px;
    margin: 25px; 
    padding: 25px; 
    border: 1px solid #fff;
}

.top-links > a {
    color: green;
}

.ola{
    color:black;  
    
    
}

.localization{
    text-align: center;
}
footer{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: black;
    margin: 25px; 
    padding: 25px; 
    border: 1px solid #fff;
}

